/* .header {
  background-color: #fff;
  width: 100%;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  display: 'flex';
  justify-content: 'space-between';
  align-items:center;
  border-bottom : '1px solid rgba(255,201,80,0.4)';
}; */

