.title {
  text-align: center;
  margin: 50px 0 0 20px;
  font-style: bold;
  color:rgb(49, 45, 45);
}

.formContainer {
  display: block;
  list-style: none;
}
.item {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}