.title {
  color: rgb(48, 50, 54);
  padding: 0 20px;
  font-weight: 700;
  font-size: 25px;
  display: block;
  text-align: center;
}

.text {
  color: rgb(97, 103, 114);
  padding: 0 20px;
  font-weight: 500;
  font-size: 25px;
  display: flex;
  list-style: none;
}

.item {
  display: flex;
}

ul {
  display: flex;
  flex-wrap: wrap;
}
